 body {
            font-family: "poppins";
            font-size: 18px;
            height: 100vh;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background: linear-gradient(45deg, #086788, #07A0C3);
        }
        .box_login {
            height: 350px;
            width: 350px;
            border: 2px solid black;
            padding: 30px;
            border-radius: 10px;
            background-color: #E8F1F2;
        }
        .box_int input {
            width: 98%;
            padding: 5px;
            border-radius: 5px;
        }
        h1 {
            margin: 15px;
        }

        .submit:hover {
            background-color: #07A0C3;
        }
        .submit {
            color: white;
            background-color:#086788;
            width:99%;
        }
        a{
            text-decoration: none;
            font-size: small;
            align-items: end;
        }